.cart-wrap {

    padding: 2em;

    .checkout-wrap {
        padding: 2em;
        // border: 2px solid #aaa;s
        border-radius: 1em;
        position: abolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .total-cost {
            margin-bottom: 1em;
            color: #576F72;
        }
    }

    .details-wrap {
        height: 100vh;
        overflow-y: auto;
        padding-right: 1em;

        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #eee;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgb(213, 211, 211);
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgb(183, 183, 183);
        }
    }
}